RPC_URL=https://soroban-rpc.mainnet.stellar.gateway.fm
NETWORK=PUBLIC
CONTRACT_ID=YOUR_CONTRACT_ID
SECRET=S_YOUR_SECRET_KEY
SIMULATION_ACCOUNT=G_YOUR_SIMULATION_ACCOUNT
DENOMINATION=USD
WITHDRAW_XLM=100
DEFAULT_FEE=100000
